@import url('https://fonts.googleapis.com/css2?family=Abel&family=Akshar:wght@300&family=Nunito:wght@714&family=Poppins:wght@200&family=Zen+Antique+Soft&display=swap');
:root{
    --font-family1: 'Abel', sans-serif;
    --font-family2: 'Nunito', sans-serif;
    --font-family3: 'Akshar', sans-serif;
}
body{
    margin: 0;
}
p, h5, h4, h3, h2, h1{
    margin: 0;
    font-family: var(--font-family1);
}
p{
    font-size: 0.75em;
}
/* ------------------------------- */
.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
    margin: 0;
}
.clickable{
    cursor: pointer;
}
/* -------------------------------- */
.sidebar{
    background-color: #ebebeb;
    grid-area: 1/1/3/2;
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.sidebar>div>div>div>p{
    font-size: 1.1em;
}
.sidebar_Logo>.clickable{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding: 30px;
}
.iconFlex > div{
    display: flex;
    gap: 10%;
    margin-left: 10%;
    margin-top: 5%;
    align-items: center;
}
/* -------------------------------- */
header{
    background-color: rgb(241, 252, 255);
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    box-shadow: 0px 1px 10px #0000005e;
}
.top{
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
input[type=button] {
    font-family: var(--font-family1);
    font-size: 1em;
    box-shadow: 4px 2px 3px 0px #dbdbed;
}
.interact {
    margin-right: 2%;
}
.searchBar{
    display: flex;
    width: 50%;
    align-items: center;
}
.searchBar > div{
    padding-left: 2px;
    padding-top: 2px;
    width: 24px;
    height: 24px;
}
.searchBar > input {
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 25px;
    display: block;
    margin: 10px;
    padding: 10px;
    background-color: antiquewhite;
    box-shadow: 6px 6px 8px 0px #00000047;
}
.searchBar > input:focus{
    outline-style: solid;
}
.userSettings{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.userSettings > div > img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.userSettings>button{
    border-style: none;
    cursor: pointer;
}
.bottom{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}
.userIcon>img{
    height: 60px;
    width: 60px;
    border-radius: 100%;
}
.user{
    display: flex;
    align-items: center;
    gap: 10px;
}
.interact>input{
    width: 65px;
    height: 30px;
    border-radius: 100px;
    border-style: none;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}
/* -------------------------------- */
main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.cardSection{
    background-color: rgb(252, 252, 252);
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 30px;
}
.cardSection>h3{
    margin-bottom: 10px;
}
.cardContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 3%;
    column-gap: 2%;

}
.card{
    border-radius: 10px;
    padding: 3%;
    border-left: solid rgb(130, 192, 209);
    background-color: beige;
    height: max-content;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.224);
}
.card>p{
    font-family: var(--font-family1);
    font-size: 0.9em;
}
.card>h4{
    font-family: var(--font-family3);
}
.cardInteractions{
    display: flex;
    justify-content: flex-end;
    gap: 4%;
}
/* -------------------------------- */
.announcementsSection{
    background-color: white;
    padding: 10px;
    padding-top: 30px;

}
.announcementsSection>h3{
    margin-bottom: 10px;
}
.announcementsContainer {
    background-color: rgb(249, 229, 225);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px 0px #0000003d;
}
.announcmentCard>h4{
    font-family: var(--font-family1);
}
.announcmentCard>p{
    font-family: var(--font-family2);
}
/* -------------------------------- */
.trendingSection{
    background-color: white;
    padding: 10px;
    padding-top: 30px;
    height: fit-content;
}
.trendingContainer{
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(156, 156, 230);
    box-shadow: 4px 4px 5px 0px #0000003d;
}
.trendingProfile{
    margin: 10px;
    align-items: center;
    display: flex;
    gap: 5%;
}
.trendingProfileIMG>img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.trendingSection>h3{
    margin-bottom: 10px;
}
/* -------------------------------- */