body{
    margin: 0;
}
p, h5,h4,h3,h2,h1{
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
    margin: 0;
}
.sidebar{
    background-color: #ebebeb;
    grid-area: 1/1/3/2;
}
.clickable{
    cursor: pointer;
}
/* -------------------------------- */
header{
    background-color: rgb(241, 252, 255);
    grid: 1/2/2/3;
}
.top{
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.searchBar{
    display: flex;
    width: 50%;
    align-items: center;
}
.searchBar > div{
    padding-left: 2px;
    padding-top: 2px;
    width: 24px;
    height: 24px;
}
.searchBar > input {
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 25px;
    display: block;
    margin: 10px;
    padding: 10px;
    background-color: antiquewhite;
}
.searchBar > input:focus{
    outline-style: solid;
}
.userSettings{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.userSettings > div > img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.userSettings>button{
    border-style: none;
    cursor: pointer;
    
}
.bottom{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}
.userIcon>img{
    height: 60px;
    width: 60px;
    border-radius: 100%;
}
.user{
    display: flex;
    align-items: center;
    gap: 10px;
}
.interact>input{
    width: 65px;
    height: 30px;
    border-radius: 100px;
    border-style: none;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}
/* -------------------------------- */
main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.cardSection{
    background-color: white;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 1%;
}
.cardContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 3%;
    column-gap: 2%;
}
.card{
    border-radius: 10px;
    padding: 3%;
    border-left: solid rgb(130, 192, 209);
    background-color: beige;
    height: max-content;
}
.cardInteractions{
    display: flex;
    justify-content: flex-end;
    gap: 4%;
}
/* -------------------------------- */
.announcementsSection{
    background-color: white;
}
.announcementsContainer{
    display: flex;
    flex-direction: column;
}
.announcmentCard{
    margin: 3%;
}
/* -------------------------------- */
.trendingSection{
    background-color: white;
}
.trendingProfile{
    margin: 10px;
    align-items: center;
    display: flex;
    gap: 5%;
}
.trendingProfileIMG>img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
/* -------------------------------- */